<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Setup | 206 | Transaction Security | Carousel</title>
  <link rel="icon" type="image/png" href="/favicon.png" />
  <meta name="robots" content="noindex, nofollow" />

  <!-- Prototype styles -->
  <link rel="stylesheet" href="/styles/index.css" />
</head>
<body>
  <div class="slds-p-around--large">
    <h1 class="slds-section-title--divider">
      206 | Transaction Security
    </h1>

    <h2 class="slds-text-heading--medium slds-m-top--large">Carousel</h2>
    
    <p class='slds-m-bottom--large'>The cards below represent the different kinds of cards in the carousel.</p>

    <div class="slds-grid slds-wrap slds-grid--pull-padded">
      <div class="slds-p-horizontal--small slds-size--1-of-3">
        <div class="slds-box slds-box--small slds-theme--default slds-text-align--center">
          <h1 class='slds-text-heading--small'>Total Users with Concurrent Sessions</h1>
          <p class='tx-text-heading--carousel-number slds-text-align--center'>43,109</p>
          <p class='slds-text-align--center'>This metric is helpful to know because it allows you only in the Pequod that the monkey and his.
            <a href='' target='_blank'>Learn More</a>
          </p>
        </div>
      </div>
      <div class="slds-p-horizontal--small slds-size--1-of-3">
        <div class="slds-box slds-box--small slds-theme--default slds-text-align--center">
          <h1 class='slds-text-heading--small'>View Help</h1>
        </div>
      </div>
      <div class="slds-p-horizontal--small slds-size--1-of-3">
        <div class="slds-box slds-box--small slds-theme--default slds-text-align--center">
          <h1 class='slds-text-heading--small'>Transaction Security Trailhead</h1>
        </div>
      </div>
    </div>
        
  </div>
  {% include "_footer.html" %}
  <script src="/scripts/app.js"></script>
  <script src="/scripts/svg4everybody.min.js"></script>
  <script>svg4everybody();</script>
</body>
</html>
